.image-preview {
	display: inline-block;
	position: relative;

	.inset {
		position: absolute;
		bottom: 5px;
		left: 0px;
		width: 100%;
		background-color: white;
		text-align: center;
		opacity: .7;
	}

	.glyphicon {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		font-size: 50px;
		opacity: .5;
		color: white;
	}

	img {
		height: 200px;
		width: 200px;
		display: inline-block;
	}
	video {
		height: 200px;
		width: 200px;
		vertical-align: middle;
		background-color: black;
	}
}